{% extends 'base.html' %}
{% load static %}

{% block head_js %}
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init("user_tfpdYeydHiVr8F7Ep3cg4");
    })();
    </script>
{% endblock %}

{% block content %}
<div class="row p-text">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <form onsubmit="return sendMail(this);">
            <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Name" required />
            <br/>
            <input type="email" name="email_address" id="email_address" class="form-control" placeholder="Email" required />
            <br/>
            <textarea rows="7" name="message" id="message" class="form-control" placeholder="Event Description" required></textarea>
            <br>
            
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-primary">Send Event Request</button>
                </div>
            <br>
        </form>
    </div>
</div>


<script type="text/Javascript" src="{% static 'js/sendEmailJS.js' %}"></script>

{% endblock %}