{% extends 'base.html' %}

{% block content %}
<section class="about-section">
    <div class="row">
        <div class="col-sm-10 offset-1">
            <h3 class="header-h3 uppercase about-h">About</h3>
            <div class="row">
                <div class="col-md-6 col-sm-10 col-lg-4 offset-xs-1 offset-md-0 about-col">
                    <h4 class="header-h4">Artwork</h4>
                    <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur recusandae illo dolore pariatur, vel neque magnam quidem doloremque? Iure in minima excepturi magni neque ratione quis fuga cum non repellat.
                    Tempora asperiores molestias ratione cumque illo, eligendi harum facere. Voluptatum rerum aperiam, modi cumque ad quae, nemo veritatis provident libero quod consectetur officiis magnam officia pariatur harum recusandae tenetur facere!
                    Omnis neque explicabo aliquam, minima exercitationem facilis molestias, harum deleniti quidem numquam quibusdam? Deserunt ex corporis dolorum cumque non quae.</p>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4 offset-xs-1 offset-md- about-col">
                    <h4 class="header-h4">Sandras Cool Story</h4>
                    <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel neque magnam quidem doloremque? Iure in minima excepturi magni neque ratione quis fuga cum non repellat.
                        Tempora asperiores molestias ratione cumque illo. Voluptatum rerum aperiam, modi cumque ad quae, nemo veritatis provident libero quod consectetur officiis magnam officia pariatur harum recusandae tenetur facere!
                        Omnis neque explicabo aliquam, minima exercitationem facilis molestias, harum deleniti quidem numquam quibusdam? Deserunt ex corporis dolorum cumque non quae, nulla recusandae totam autem excepturi delectus at cupiditate, distinctio veritatis.</p>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-4 offset-xs-1 offset-md-0 about-col">
                    <h4 class="header-h4">Site Info</h4>
                    <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur recusandae illo dolore pariatur, vel neque magnam quidem doloremque? Iure in minima excepturi magni neque ratione quis fuga cum non repellat.
                        Tempora asperiores molestias ratione cumque illo, eligendi harum facere. Voluptatum rerum aperiam, modi cumque ad quae, nemo veritatis provident libero quod consectetur officiis magnam officia pariatur harum recusandae tenetur facere!
                        Omnis neque explicabo aliquam, minima exercitationem facilis molestias, harum deleniti quidem numquam quibusdam? Deserunt ex corporis dolorum cumque non quae, nulla recusandae totam autem excepturi delectus at cupiditate, distinctio veritatis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-section">
    <div class="row">
        <div class="col-10 offset-1">
            <h3 class="header-h3 uppercase index-news-h">News</h3>
            <p class="p-text">Read the latest new about upcoming exhibitions, recent paintings, or general thoughts of mine!
                (I know, im so interesting!)
            </p>
        </div>
    </div>




    {% for post in posts|slice:":3" %}

    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 newspost-container">
            <h4 class="article-h">{{ post.title }}</h4>
            {% if post.image %}
                <img class="newspost-image" src="/media/{{ post.image }}" alt="image">
            {% endif %}
            <p class="p-text prev-blog-text">{{ post.content|truncatewords:50 }}</p>
            <span class="btn btn-primary openpost-btn">
                <a href="{% url 'news_detail' post.id %}">Open Article</a>
            </span>
        </div>
    </div>


    {% endfor %}
</section>
{% endblock %}