{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-8 offset-2">

    {% if empty %}
        <h2 class="text-center">{{ empty_message }}</h2>

    {% else %}
        <table class="table">
            <thead>
                <th>Item</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>

            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total: {{ cart.total }}</td>
                </tr>

            </tfoot>

            {% for item in cart.cartitem_set.all %}
                <tr> <!-- First if statment checks if there is a variations to the item. if so, loop through it 
                    and display it as the product. Else display the original painting  -->
                    {% if item.print_variations.all|length == 1 %}
                        {% for print in item.print_variations.all %}
                            <td>{{ item.product.name }}</td>
                            <td>{{ print.size }}</td>
                            <td>{{ print.price }}</td>
                            <td>{{ item.quantity }}</td>
                        {% endfor %}
                    {% else %}
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.original_painting.size }}</td>
                        <td>{{ item.product.original_painting.price }}</td>
                        <td>{{ item.quantity }}</td>
                    {% endif %}
                    
                    <td><a class="btn btn-danger" href="{% url 'remove_from_cart' item.id %}">Remove</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}