{% extends 'base.html' %}

{% block content %}
<h3 class="header-h3 text-center news-h">{{ post.title }}</h3>
<div class="row article-row">
    <div class="col-10 offset-1 col-md-6 post-content">
        <p clasx="p-text">{{ post.content }}</p>
    </div>
    {% if post.image %}
    <div class="col-10 offset-1 offset-md-0 col-md-4">
        <img class="article-img" src="{{ MEDIA_URL }}{{ post.image }}" alt="image">
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-10 offset-1">
        <div class="article-info">
            <p><span class="font-weight-bold">Tag: </span>{{ post.tag }}</p>
            <p><span class="font-weight-bold">Published Date: </span>{{ post.published_date }}</p>
            <p><span class="font-weight-bold">Views: </span>{{ post.views }}</p>
            <span class="btn btn-primary"><a href="{% url 'get_newsposts' %}">Back to news!</a></span>
        </div>
    </div>
</div>

{% endblock %}