{% extends 'base.html' %}

{% block content %}

<div class="row news-header-row">
    <div class="col-8 offset-2">
        <h3 class="header-h3 text-center news-h">View Paintings By Collection</h3>
        <div class="row"></div>
        <form>
        {% for product in products %}
            <div class="col-12 col-md-4 collection-checkbox-col form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ product.collection.id }}" name="{{ product.collection.id }}" value="{{ product.collection.id }}">
                <label class="form-check-label" for="{{ product.collection.id }}">{{ product.collection.name }}</label>
            </div>
        {% endfor %}
        </form>
        </div>
    </div>
</div>

{% for product in products %}
    {% if forloop.counter|divisibleby:2 %}
    
    <div class="row product-display-row">
        <div class="col-12 col-md-3 d-block d-md-none">
            <a data-fancybox="gallery" href="/media/{{ product.image }}">
                <img class="product-img img-shadow" src="/media/{{ product.image }}" alt="image">
            </a>
        </div>
        <div class="col-12 col-md-7 shadow-left"> <!-- Experiment start now -->
            <h4 class="header-h4 product-h">{{ product.name }}</h4>
            <p class="p-text">{{ product.description }}</p>
            <div class="product-info">
                {% if product.print_1.stock > 0 or product.print_2.stock > 0 or product.print_3.stock > 0 %}
                    <span class="p-text font-italic">Availible as: </span>
                    <span class="p-text font-weight-bold">Print</span>
                {% else %}
                <p class="p-text font-weight-bold font-italic">Prints are out of stock!</p>
                {% endif %}
                {% if product.original_painting.stock == True %}
                    <p class="p-text font-weight-bold">Original painting still availible!</p>
                {% else %}
                <p class="p-text font-weight-bold">Original painting has been sold!</p>
                {% endif %}
                <!-- <p>Price varies between print sizes and original painting</p> -->
                <span class="btn btn-success openproduct-btn"><a href="{% url 'get_single_product' product.id %}">Open</a></span>
            </div>
        </div>
        <div class="col-3 d-none d-md-block">
            <a data-fancybox="gallery" href="/media/{{ product.image }}">
                <img class="product-img img-shadow" src="/media/{{ product.image }}" alt="image">
            </a>
        </div>
    </div>
    {% else %}

    <div class="row product-display-row">
        <div class="col-12 col-md-3">
            <a data-fancybox="gallery" href="/media/{{ product.image }}">
                <img class="product-img img-shadow" src="/media/{{ product.image }}" alt="image">
            </a>
        </div>
        <div class="col-md-7 shadow-right">
            <h4 class="header-h4 product-h">{{ product.name }}</h4>
            <p class="p-text">{{ product.description }}</p>
            <div class="product-info">
                {% if product.print_1.stock > 0 or product.print_2.stock > 0 or product.print_3.stock > 0 %}
                    <span class="p-text font-italic">Availible as: </span>
                    <span class="p-text font-weight-bold">Print</span>
                {% else %}
                <p class="p-text font-weight-bold font-italic">Prints are out of stock!</p>
                {% endif %}
                {% if product.original_painting.stock == True %}
                    <p class="p-text font-weight-bold">Original paingting still availible!</p>
                {% else %}
                <p class="p-text font-weight-bold">Original painting has been sold!</p>
                {% endif %}
                <!-- <p>Price varies between print sizes and original painting</p> -->
                <span class="btn btn-success openproduct-btn"><a href="{% url 'get_single_product' product.id %}">Open</a></span>
            </div>
        </div>
    </div>
    {% endif %}


{% endfor %}
{% endblock %}

