{% extends 'base.html' %}

{% block content %}

<div class="row product-row">
    <div class="col-12 col-md-7 text-center">
        <a data-fancybox="gallery" href="/media/{{ product.image }}">
            <img class="single-prod-img" src="/media/{{ product.image }}" alt="image">
        </a>
    </div>
    <div class="col-12 col-md-5 single-prod-info">
        <h3 class="header-h3 product-h">{{ product.name }}</h3>
        <p class="p-text">{{ product.description }}</p>
        <span class="p-text font-weight-bold">Original Size: </span><p class="p-text">{{ product.original_painting.size }}</p>
        {% if product.original_painting.stock == True %}
            <p class="p-text font-italic">Original painting still availible!</p>
            <p class="p-text">
                <span class="font-weight-bold">Price for original: </span>
                <span>{{ product.original_painting.price }} €</span>
            </p>
        {% endif %}
            <!-- .print is not going to work, need to import both product and prints here... -->
        
        <form class="select-size-menu" method="POST" action="{% url 'add_to_cart' 3 %}">
            {% csrf_token %}
            <select name="quantity" id="sizeOptions" class="form-control form-control-sm p-text"></select>
            <option selected>Choose Print Size</option>
            {% for print in prints %}
            <option id="sizeOne" value="{{ product.print_1.id }}">{{ product.print_1.size }} | {{ product.print_1.price }} €</option>
            {% endfor %}
            </select>
        
        <!-- <form class="select-size-menu" method="POST" action=""> -->        
            <div class="input-group select-size-menu">
                <input id="quantity" type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button onclick="getPriceForPrints()" class="btn btn-info" id="addPrints" type="submit">Add To Cart</button>
                </span>
        </form>
        </div>
        <p class="p-text">
            <span class="font-weight-bold">Price for prints: </span>
            <span id="displayPrice">Select a size and quantity</span>
            <span id="currency-euro"></span>
        </p>
        
        <p class="p-text font-weight-bold">Prints are out of stock!</p>
        
        <div class="p-text">
            {% if product.original_painting.stock == True %}
            <form method="POST" action="{% url 'add_to_cart' product.original_painting.id %}">
                {% csrf_token %}
                <input name="quantity" type="hidden" value="1">
                <button class="btn btn-success" type="submit">Add Original To Cart!</button>
            </form>
            {% endif %}
        </div>
    </div>
    
</div>
{% for print in prints %}
    <p>{{ print.size }}</p>
    <p>{{ print.stock }}</p>
{% endfor %}

{% endblock %}