@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/******* General Styles, fonts, etc.  *******/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

a,
a:hover {
    color: currentColor;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.p-text {
    font-size: 1.1em;
    letter-spacing: .8px;
}

.img-shadow {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

.fade-in {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity .3s ease-in-out, transform 400ms ease-in-out;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}




/******* Main Navbar  *******/

.main-navbar {
    height: 6em;
    background-color: transparent;
    color: #fefefe;
    transition: .2s ease-in-out;
}

.navbar-brand {
    color: currentColor!important;
}

.main-nav-scrolled {
    background-color: #fefefe;
    color: #000;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
}

.main-nav-item {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
    margin: auto;
    color: #fefefe;
}

.main-nav-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width .2s;
    
}

.main-nav-item:hover {
    color: currentColor;
}

.main-nav-item:hover::after {
    width: 100%;
    color: currentColor;
    transition: width .2s;
}

.login-btn {
    background-color: limegreen;
    padding:15px 15px;
    border-radius: 2em;
    font-weight: 400;
    position: absolute;
    right: 7em;
}

.login-btn:hover {
    background-color: #fefefe;
    transition: .2s ease-in;
    border: 1px solid currentColor;
}

.shopping-cart {
    font-size: 1.8em;
    color: currentColor;
    transition: .2s ease-in-out;
}

a.nav-item.nav-link.main-nav-item {
    padding: .8em;
    letter-spacing: 2px;
    color: currentColor;
}

.mainNav-burger {
    font-size: 1.5em;
    color: #ececec;
}

.burgerScrolled {
    color: #0e1d2d;
}


/******* Big picture and heading on the front page  *******/

.page-main-intro {
    padding: 34vh 0; /* 29vh 0 10vh 0 with image shadow */
    background: #0e1d2d url(//unsplash.it/900);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fefefe;
    z-index: -15;
}

.display-painting {
    width: 70%;
    position: absolute;
    -webkit-box-shadow: 25px 25px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 25px 25px 0px 0px rgba(0,0,0,1);
    box-shadow: 25px 25px 0px 0px rgba(0,0,0,1);
}
/*
.image-shadow {
    height: 25em;
    width: 80%;
    background-color: black;
    z-index: -5;
    margin-left: 1em;
    margin-top: -2em;
}*/

/******* Headers styles  *******/

.main-header {
    font-size: 4.4em;
    margin-bottom: 1em;
}

.header-h2 {
    font-size: 3.5em;
}

.header-h3 {
    font-size: 2.5em;
    font-weight: 600;
}

.header-h4 {
    font-size: 2em;
    font-weight: 600;
}

.sub-header {
    font-weight: 400;
    margin: 1em 0 2em 0;
}


/******* About Section  *******/

.about-section {
    background-color: #ececec;
}

.about-h {
    margin: 2em 0 0 .2em;
}

.about-col {
    padding: 1.5em;
}

.about-col h4 {
    padding: .5em 0;
}

/******* News Section  *******/

.news-section {
    margin-bottom: 3em;
}

.index-news-h {
    margin: 1em;
}

.news-h {
    margin: 1.5em 0 0 .2em;
}

.news-header-row {
   background-color:#ececec;
}

.newspost-container {
    margin-top: 5em;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

.article-h {
    font-size: 2em;
    letter-spacing: 1.5px;
    margin: .5em 0 0 .5em;
}


.newspost-image {
    max-height: 10em;
    max-width: 100%;
}
/*
.prev-blog-text {
    padding: 1em;
}
*/

/******* News Post Article  *******/


.article-row { /* probably unneccessary*/
    margin-top: 4em;
}

.post-content {
    padding: 1em;
}

.article-img {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    max-height: 100%;
    max-width: 100%
}

.article-info {
    margin: 1em 0 2em 0;
}

/******* Sub-Product section in index.html ********/

.paintings-section {
    background-color: #f1f1f1;
}


/******* Products Section  *******/

.product-display-row {
    margin-top: 4em;
    margin-left: 12%;
}

.product-img {
    text-align: center;
    max-height: 20em;
    max-width: 100%;
}

.product-h {
    margin:.5em 0;

}

.collection-checkbox-col {
    margin: 3em 0;
    font-size: 1.2em;
    letter-spacing: 1.2px;
}

/******* Single Product Section  *******/

.product-row {
    margin-left: 6%;
}

.single-prod-img {
    max-width: 100%;
    /*padding: 1em;*/
    margin-top: 4em;
}

.single-prod-info {
    padding: 1em;
}

.checkbox-item {
    margin-right: 5%;
}

.print-size-form {
    width: 100%;
}

.select-size-menu {
    margin-bottom: 1em;
}

/******* Media Queries  *******/

/*** Tablet/Desktop View ***/

@media screen and (max-width: 767px) {
    .product-display-row {
        margin-top: 4em;
        margin-left: 5%;
        margin-right:5%;
        text-align: center;
        -webkit-box-shadow: -2px -2px 10px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: -2px -2px 10px -1px rgba(0,0,0,0.5);
        box-shadow: -2px -2px 10px -1px rgba(0,0,0,0.5);
    }

    .openproduct-btn {
        margin-bottom: 1em;
    }

    .product-row {
        margin-right: 6%;
    }

    .single-prod-info .product-h {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .shadow-left {
        -webkit-box-shadow: -2px -2px 5px -5px rgba(0,0,0,0.5);
        -moz-box-shadow: -2px -2px 5px -3px rgba(0,0,0,0.5);
        box-shadow: -2px -2px 5px -5px rgba(0,0,0,0.5);
    }
    
    .shadow-right {
        -webkit-box-shadow: 2px 2px 5px -5px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.5);
        box-shadow: 2px -2px 5px -5px rgba(0,0,0,0.5);
    }

    /* For single products section */
    .single-prod-img {
        max-width: 80%;
        margin: 4em 4em 1em 1em;
        /*padding: 2em;*/
    }

    .single-prod-info {
        padding: 4em 4em 4em 2em;;
        background-color:#f1f1e4;
    }
}

@media (min-width: 992px) {
    .display-painting {
        margin-top: -4em;
    }

    .main-nav-item {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 300;
        margin: auto;
        color: #fefefe;
    }

    a.nav-item.nav-link.main-nav-item.shopping-cart {
        font-size: 1.7em;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: .3em;
    }

    /* news section */
    
    .newspost-container {
        text-align: ;
        height: 22em;
        margin-top: 5em;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    }

    .article-h {
        display: inline-block;
    }
    
    .newspost-image {
        max-height: 22em;
        float: right;
        max-width: 20em;
    }
    
    .prev-blog-text {
        padding: 1em;
    }

    .openpost-btn {
        position: absolute;
        bottom: 1em;
        left: 1.8em;
    }


    /* Products section */

    .product-display-row {
        height: 20em;
        margin-top: 4em;
        margin-left: 12%;
    }
    
    .product-img {
        max-height: 20em;
        float: right;
    }
    
    .product-h {
        display: inline-block;
        margin:.5em 0;
        letter-spacing: 1.2px;
    }
    
    .product-info {
        position: absolute;
        bottom: .5em;
    }
    
    .collection-checkbox-col {
        margin: 3em 0;
        font-size: 1.2em;
        letter-spacing: 1.2px;
    }
}

@media (min-width: 1440px) {
    .page-main-intro {
        padding: 30vh 0;
    }
}

/*** Mobile/Tablet View ***/
@media screen and (max-width: 992px) {
    .burgerMenu-bg-clr {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .burgerMenu-bg-clr-on-scroll {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .newspost-container {
        text-align: center;
    }

    .openpost-btn {
        margin: .5em;
    }
}
