body {
    background-color: #152238;
    overflow-x: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.main-navbar {
    height: 5em;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.main-nav-item {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
    margin: auto;
    color: ivory;
}

.main-nav-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width .2s;
    
}

.main-nav-item:hover {
    color: ivory;
}

.main-nav-item:hover::after {
    width: 100%;
    color: ivory;
    transition: width .2s;
}

.main-nav-scrolled {
    background-color: ivory;
    color: #000;
}

.login-btn {
    background-color: limegreen;
    padding:15px 15px;
    border-radius: 2em;
    font-weight: 400;
}

.login-btn:hover {
    background-color: ivory;
    transition: .2s ease-in;
    border: 1px solid currentColor;
}

.shopping-cart {
    font-size: 2em;
    color: ivory;
    margin: .5em;
    transition: .2s ease-in-out;
}

.page-main-intro {
    padding: 35vh 0;
    background: #0e1d2d url(//unsplash.it/900);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    z-index: -15;
}

.display-painting {
    width: 80%;
    margin-top: -3em;
    position: absolute
}

.image-shadow {

    height: 21em;
    width: 90%;
    margin-bottom: 1em;
    background-color: black;
    z-index: -5;
    margin-left: 1em;
}

.main-header {
    font-size: 3.5em;
    margin-bottom: 1em;
}

.header-h2 {
    font-size: 3em;
}

