@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.main-navbar {
    height: 6em;
    background-color: transparent;
}

.main-nav-item {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
    margin: auto;
    color: #fefefe;
}

.main-nav-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width .2s;
    
}

.main-nav-item:hover {
    color: #fefefe;
}

.main-nav-item:hover::after {
    width: 100%;
    color: #fefefe;
    transition: width .2s;
}

.main-nav-scrolled {
    background-color: #fefefe;
    color: #000;
}

.login-btn {
    background-color: limegreen;
    padding:15px 15px;
    border-radius: 2em;
    font-weight: 400;
}

.login-btn:hover {
    background-color: #fefefe;
    transition: .2s ease-in;
    border: 1px solid currentColor;
}

.shopping-cart {
    font-size: 2em;
    color: #fefefe;
    margin: .5em;
    transition: .2s ease-in-out;
}

.page-main-intro {
    padding: 29vh 0 10vh 0;
    background: #0e1d2d url(//unsplash.it/900);
    background-size: cover;
    background-blend-mode: multiply;
    color: #fefefe;
    z-index: -15;
}

.display-painting {
    width: 70%;
    position: absolute;
}

.image-shadow {
    height: 25em;
    width: 80%;
    background-color: black;
    z-index: -5;
    margin-left: 1em;
    margin-top: -2em;
}

.main-header {
    font-size: 4.4em;
    margin-bottom: 1em;
}

.header-h2 {
    font-size: 3.5em;
}

.header-h3 {
    font-size: 2.5em;
    font-weight: 600;
}

.header-h4 {
    font-size: 2em;
    font-weight: 600;
}

a.nav-item.nav-link.main-nav-item {
    padding: .8em;
    letter-spacing: 2px;
    color: #fefefe;
}

.about-section {
    background-color: #ececec;
}

.about-h {
    margin: .8em 0 0 .2em;
}

.about-col {
    padding: 1.5em;
}

.about-col h4 {
    padding: .5em 0;
}


/*** Tablet/Desktop View ***/
@media (min-width: 992px) {
    .display-painting {
        margin-top: -4em;
    }
}

@media (min-width: 1440px) {
    .page-main-intro {
        padding: 30vh 0;
}