{% extends 'base.html' %}

{% block content %}
<h1>Checkout</h1>






    <form action="{% url 'checkout' %}" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="col-6">
                <h3>New Billing Address</h3>
                {{ new_billing_address.as_p }}
            </div>
            <div class="col-6">
                <h3>New Shipping Address</h3>
                {{ new_shipping_address.as_p }}
            </div>
        </div>
            
        <button class="btn btn-primary" type="Submit">Add New Address</button>
        
    </form>



{% endblock %}