{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <h3 class="header-h3 checkout-h text-center">Checkout</h3>
        </div>
        <div class="col-10 offset-1 p-text">
            <form role="form" id="payment-form" action="{% url 'checkout' %}" method="POST">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12 col-md-6 checkout-form">
                        <legend><span class="checkout-nr font-italic">1. </span>Billing Address</legend>
                        <div class="font-weight-bold font-italic">
                            {{ new_billing_address | as_bootstrap }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 checkout-form">
                        <legend><span class="checkout-nr font-italic">2. </span>Shipping Address</legend>
                        <div class="font-weight-bold font-italic">
                            {{ new_shipping_address | as_bootstrap }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 checkout-form">
                        <legend><span class="checkout-nr font-italic">3. </span>Payment Form</legend>
                        <div id="creddit-card-errors">
                            <div class="text-centeralert alert-danger" role="alert" id="stripe-error-message"></div>
                        </div>
                        <div class="font-weight-bold font-italic">
                            {{ payment_form | as_bootstrap }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 checkout-form order-review">
                        <legend><span class="checkout-nr font-italic">4. </span>Review Order</legend>
                            {% for item in cart.cartitem_set.all %}
                                {% if item.print_variations.all|length == 1 %}
                                    {% for print in item.print_variations.all %}
                                    <div class="col-12 checkout-product-review">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{{ MEDIA_URL }}{{ item.product.image }}" style="height: 6em;" alt="">
                                            </div>
                                            
                                            <div class="prod-info-cell col-4">
                                                <div>
                                                    <span class="p-text font-weight-bold font-italic">{{ item.product.name }}</span>
                                                </div>
                                                <span class="font-italic">Size: </span>
                                                <span>{{ print.size }}</span>
                                            </div>
                                            <div class="prod-info-cell col-5">
                                                <div>
                                                    <span class="font-italic">Price: </span>
                                                    <span>{{ print.price }} €</span>
                                                </div>
                                                <span class="font-italic">Quantity: </span>
                                                <span>{{ item.quantity }}</span>
                                            </div>
                                        </div>             
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-12 checkout-product-review">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{{ MEDIA_URL }}{{ item.product.image }}" style="height: 6em; float:left" alt="">
                                            </div>
                                            
                                            <div class="prod-info-cell col-4">
                                                <div>
                                                    <span class="p-text font-weight-bold font-italic">{{ item.product.name }}</span>
                                                </div>
                                                <span class="font-italic">Size: </span>
                                                <span>{{ item.product.original_painting.size }}</span>
                                            </div>
                                            <div class="prod-info-cell col-5">
                                                <div>
                                                    <span class="font-italic">Price: </span>
                                                    <span>{{ item.product.original_painting.price }} €</span>
                                                </div>
                                                <span class="font-italic">Quantity: </span>
                                                <span>{{ item.quantity }}</span>
                                            </div>
                                        </div>             
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col text-center">
                                <p>Total: {{ cart.total }} €</p>
                            </div>
                            <div class="submit-payment-btn">
                                <input class="btn btn-success btn-lg" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}