{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="row accounts-card img-shadow">
            <div class="col-md-4 d-none d-md-block side-img">
                <img src="/static/img/svart-vit-kvinna.jpg" class="display-painting accounts-img" alt="image">
            </div>
        
            <div class="col-10 offset-1 col-md-8 offset-md-0 accounts-form">
                <h3 class="accounts-header">Register</h3>
                <span class="p-text">Already have an account? <a class="login-link" href="{% url 'login' %}" role="button">Login Here!</a></span>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ registration_form | as_bootstrap }}

                    <button class="btn btn-outline-success btn-lg" type="submit">Register</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

